<table class="table table-bordered">
    <thead>
        <tr>
            <% _.each([-3, -2, -1, 0, 1, 2, 3], function (offset) { 
                var currentDay = relativeDay(start, offset); %>
            <th style="width: 14%">
                <%= months[((currentDay.getDay() + 6) % 7)] %>
                <br />
                <small>
                    <span data-cal-date="<%= currentDay.getFullYear() %>-<%= currentDay.getMonthFormatted() %>-<%= currentDay.getDateFormatted() %>" data-cal-view="day">
                        <%= currentDay.getDate() %> <%= cal.locale['ms' + currentDay.getMonth()] %>
                    </span>
                </small>
            </th>
            <% }); %>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% _.each([-3, -2, -1, 0, 1, 2, 3], function (offset) {
                var dayBegin = relativeDay(start, offset);
                var dayEnd = relativeDay(dayBegin, 1);
                var filteredEvents = cal.getEventsBetween(dayBegin.getTime(), dayEnd.getTime()); %>
                <td class="<%= cal._getDayClass('week', dayBegin) %>">
                    <% _.each(filteredEvents, function (event){ %>
                    <div style="padding-bottom: 8px">
                        <div>
                            <!--<span class="pull-left event <%= event['class'] %>"></span>-->
                            <a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-class="<%= event['class'] %>" class="event-item"><%= event.title %></a>
                        </div>
                        <div>
                            <%= event.description %>
                        </div>
                    </div>
                <% }); %>
                </td>
            <% }) %>
        </tr>
    </tbody>
</table>
