@model ShowFeed.ViewModels.HomeFollowingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>Following</h3>
</div>

<a class="btn btn-primary btn-sm" href="@Url.RouteUrl("searchtvshow")">Add show</a>

<br />

<table class="table table-bordered table-striped">
    <tbody>
        @foreach (var show in Model.Shows.OrderBy(x => x.Name))
        {
            <tr>
                <td>@show.Name</td>
                <td style="width: 3em">
                    <button type="button" class="btn btn-danger btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="2">@show.Description</td>
            </tr>
        }
    </tbody>
</table>
