/*
 * Basic layout
 */
#layout {
    background: #f7f7f7;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    background: #1f1f1f;
    overflow-y: auto;
    display: inline-block;
}

#main {
    padding-left: 240px;
    display: inline-block;
}

/*
 * Navigation top
 */
#nav .top {
    text-align: center;
}

#nav .top a {
    font-size: 150%;
    text-decoration: none;
    color: #fff;
}

#nav .top a:hover, #menu .top a:focus {
    color: #999;
}

/*
 * Navigation content
 */
#nav .content {
}

#nav .header {
    padding: 0 20px;
    color: #5f5f5f;
    font-weight: bold;
    text-transform: uppercase;
}

#nav .content .section {
    margin-top: 6px;
}

#nav .content .section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav .content .section a {
    color: #999;
    border: none;
    white-space: normal;
    display: block;
    text-decoration: none;
    padding: 0.6em 0 0.6em 0;
}

#nav .content .section a:hover, #nav .content .section a:focus {
    background: #333;
}

#nav .content .section a .icon {
    padding-left: 20px;
    display: inline;
}

#nav .content .section a .title {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nav .content .section .divider {
    margin: 12px 20px 0;
    border-top: 1px solid #555;
}