#layout {
    background: #f7f7f7;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    background: #1f1f1f;
    overflow-y: auto;
    display: inline-block;
}

#main {
    padding-left: 240px;
    display: inline-block;
}


#menu a {
    color: #999;
    border: none;
    white-space: normal;
}

#menu a:hover, #menu a:focus {
    background: #333;
}

#menu .header {
    text-align: center;
}

#menu .header a {
    font-size: 150%;
    color: #fff;
}

#menu .header a:hover {
    color: #999;
}

#menu ul {
    list-style: none;
}
